# PyCharm project files
.idea/

# ipython notebook checkpoints
.ipynb_checkpoints/

# virtualenv folder
venv/
venv3/

# UV lock file
uv.lock

# Python byte code
*.pyc

# build files
dist/
build/
*.egg-info/

# Vim editor restore files
*.swp
