
# Dependencies listed here are not needed for the
# functionality of the library itself, but instead contribute
# to the functionality of the builds.  As such they specifically
# do *not* go in the setup.py list of dependencies.


# Code analysis
flake8==6.0.0

# Full pylint dependencies to prevent infinite loops
pylint==2.17.2
astroid==2.15.2
dill==0.3.6
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
platformdirs==3.2.0
tomli==2.0.1
tomlkit==0.11.7
typing_extensions==4.5.0
wrapt==1.14.1

# Special pylint extensions
pylint-protobuf==0.20.2

# Tests
pytest==7.2.2
pytest-timer==0.0.11

# Packaging
setuptools==67.6.1

