name: IP Ready Scans
on: [push]
 
jobs: 
  checkmarx_scan:
    uses: CognizantCodeHub/IPReady_workflows/.github/workflows/checkmarx_scan.yml@Rel-1.0
    with:
      ProjectName: ${{ github.event.repository.name }}
    secrets: inherit
    
  blackduck_scan: 
    name: Blackduck Scan
    if: startsWith(github.ref, 'refs/heads/oss/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
    - name: Start the Synopsys Detect scan
      run: |
        bash <(curl -s -L ${{ secrets.SYNOPSIS_URL }}) \
        --blackduck.url=${{ secrets.BLACKDUCK_URL }} \
        --blackduck.api.token=${{ secrets.BLACKDUCK_TOKEN }} \
        --detect.project.name=${{ github.event.repository.name }} \
        --detect.project.group.name="IPR" \
        --detect.project.version.name='ver.0.6.0' \
        --detect.included.detector.types=PIP,GIT \
        --blackduck.trust.cert=true \
        --detect.timeout=3600 \
        --detect.detector.search.depth=5 \
        --detect.tools='ALL,IAC_SCAN' \
        --detect.blackduck.signature.scanner.individual.file.matching=ALL \
        --detect.accuracy.required="NONE" \
        --detect.detector.search.continue=true \
        --logging.level.com.synopsys.integration=DEBUG \
        --detect.risk.report.pdf=true \
        --detect.risk.report.pdf.path="report" \
        --detect.blackduck.signature.scanner.snippet.matching=SNIPPET_MATCHING \
        --detect.excluded.directories=.git
      shell: bash
    - name: Upload Synopsys Detect scan report
      uses: actions/upload-artifact@v4.4.3
      with:
        name: BDH Artifact - ${{ github.event.repository.name }}
        path: ${{ github.workspace }}/report
 
  sonarqube_Scan:
    name: SonarQube Scan
    if: startsWith(github.ref, 'refs/heads/sonar/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: SonarQube Scan
        run: |
          wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.6.2.2472-linux.zip
          unzip sonar-scanner-cli-4.6.2.2472-linux.zip
          rm sonar-scanner-cli-4.6.2.2472-linux.zip
          export PATH="${PATH}:$(pwd)/sonar-scanner-4.6.2.2472-linux/bin"
          sonar-scanner \
            -Dsonar.projectKey=${{ github.event.repository.name }} \
            -Dsonar.sources=. \
            -Dsonar.exclusions= \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}


    
